@import "variables";
@import "mixins";
@import "statics";
@import "queries";

nav {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;

  .menu-icon {
    position: absolute;
    top: 25px;
    right: 20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 2;
    background-image: url("../assets/menu/menu.svg");

    &.open {
      background-image: url("../assets/menu/close.svg");
    }
  }

  ul {
    @include flex(
      column,
      $justify-content: center,
      $align-items: center,
      $gap: 40px
    );
    height: 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $lightAccentColor;
    overflow-y: hidden;
    transition: 0.5s;
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      a {
        text-decoration: none;
        padding: 10px 20px;
        border-radius: 5px;
        color: $fontColor;
        cursor: pointer;
        font-size: 2rem;
        font-weight: 600;
      }

      a:hover {
        background: $backgroundColor;
        font-size: 2.2rem;
        transition: all 500ms;
      }
    }
    &.active {
      height: 100vh;
    }
  }
}

.header-container {
  @include container-section();
  @include flex(column, center, center, left, 40px);
  height: 100vh;

  .social {
    ul {
      display: flex;
      flex-flow: column;
      justify-content: left;
      padding: 0;
      gap: 5px 20px;
      li {
        list-style: none;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px 20px;
        border-radius: 16px;
        cursor: pointer;
        transition: background-color 0.5s;
        img {
          width: 30px;
          height: 30px;
        }
        &:hover {
          background-color: rgba($color: $whiteColor, $alpha: 0.7);
        }
      }
      @include mediaQuery(L) {
        flex-flow: row;
        gap: 40px;
      }
    }
    .popup-mail {
      visibility: hidden;
      width: 85%;
      margin-left: -42.5%;
      background-color: $mainColor;
      color: #fff;
      font-weight: 600;
      text-align: center;
      border-radius: 15px;
      padding: 20px 10px;
      position: fixed;
      z-index: 1;
      left: 50%;
      bottom: 30px;
      box-shadow: 10px 5px 5px $fontColor;

      &.show {
        visibility: visible;
        @include animateFade(fadein 0.5s, fadeout 0.5s, 2.5s);
        @include keyframes(fadein) {
          from {
            bottom: 0;
            opacity: 0;
          }
          to {
            bottom: 30px;
            opacity: 1;
          }
        }

        @include keyframes(fadeout) {
          from {
            bottom: 30px;
            opacity: 1;
          }
          to {
            bottom: 0;
            opacity: 0;
          }
        }
      }
    }
  }
}

.portfolio-section {
  @include container-section;
  .projects-container {
    @include flex(row wrap, center, flex-start, 50px);
    .project {
      position: relative;
      .project-image {
        display: block;
        width: 100%;
        border-radius: 15px;
      }
      .info {
        opacity: 0;
        position: absolute;
        inset: 0px;
        text-align: left;
        padding: 10px;
        border-radius: 15px;
        transition: 500ms all;
      }
      &:hover {
        .info {
          display: flex;
          flex-flow: row wrap;
          opacity: 1;
          background-color: ($mainColor + cc);
        }
      }
    }
  }
}

.resume-section {
  @include container-section;
  .collapsible {
    text-align: left;
    width: 100%;
    transition: all 0.5s;
    color: $whiteColor;
    position: relative;
    font-size: 1.2rem;
    padding: 10px 20px 25px;
    background-color: $darkAccentColor;
    border-radius: 5px;

    .date {
      position: absolute;
      left: 20px;
      bottom: 10px;
      font-size: 0.8rem;
    }

    &:before,
    &:after {
      position: absolute;
      content: "";
      width: 15px;
      height: 3px;
      background-color: $whiteColor;
      border-radius: 10px;
      top: 45%;
      right: 20px;
      transform-origin: center center;
      transition: transform 0.2s;
    }
    &:before {
      transform: rotate(-45deg);
    }
    &:after {
      transform: rotate(45deg);
      right: 29px;
    }
    &:hover {
      background-color: $mainColor;
    }
  }

  .active {
    background-color: $mainColor;
    border-radius: 5px 5px 0 0;

    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }

  .content {
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background-color: rgba($color: $whiteColor, $alpha: 0.5);
    border-radius: 0 0 5px 5px;
    .date {
      font-weight: bold;
    }
    li {
      margin-bottom: 10px;
    }
  }
}

.about-me-section {
  @include container-section;
  .about-me-container {
    @include flex(column);

    .bio-img {
      img {
        margin: 0 auto;
        width: 70%;
        border-radius: 15px;
      }
    }
    @include mediaQuery(M) {
      flex-flow: row;
      .bio-img {
        float: right;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

.toolkit-section {
  @include container-section;

  .technologies-container {
    margin: 0 auto;
  }
}

.technologies {
  @include flex($flex-flow: row wrap, $justify-content: center);
  list-style: none;
  padding: 0;
  li {
    @include flex($flex-flow: column, $align-items: center);

    font-weight: 500;
    width: 80px;
    img {
      width: 35px;
      height: 35px;
      border-radius: 5px;
      path {
        fill: $lightAccentColor;
      }
    }
  }
  @include mediaQuery(M) {
    justify-content: flex-start;
  }
}

.contact-section {
  background-color: $contactBackgroundColor;

  .contact-container {
    @include container-section;
    padding: 30px 0;

    .contact-data {
      @include flex(column nowrap);
      margin-bottom: 50px;
      .contact-information {
        margin-bottom: 20px;
      }
      .contact-form {
        width: 100%;
        @include flex($flex-flow: column);
      }
      @include mediaQuery(M) {
        flex-flow: row;
      }
    }
  }
}

Footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: $mainColor;
  color: white;
  border: 0;
  display: block;
  padding: 15px;
}
