@import "variables";
@import "mixins";
@import "statics";

body {
  text-align: left;
  font-size: 1rem;
  line-height: normal;
  padding: 0px;
  margin: 0px;
  color: $fontColor;
  background: linear-gradient(-45deg, #fff, $testColor1);
  background-size: auto;
  animation: gradient 15s ease infinite;

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

header {
  .header-container {
    @include container-section();
    @include flex(column, center, center, center);
    height: 100vh;
    gap: 7vh;
    .navigation {
      ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 5vh;
        padding: 0;
        li {
          list-style: none;
          a {
            text-decoration: none;
            padding: 10px 20px;
            color: $fontColor;
            border-radius: 5px;
            cursor: pointer;
          }

          a:hover {
            background: $testColor2;
            font-size: 1.1rem;
            font-weight: bold;
            transition: all 500ms;
          }
        }
      }
    }
  }
}
@media all and (max-width: 800px) {
  .navigation {
    justify-content: space-around;
  }
}

.home-section {
  @include container-section();
  height: 100vh;
}

.portfolio-section {
  @include container-section;
  .projects-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: flex-start;
    gap: 50px;
    .project {
      position: relative;
      .project-image {
        display: block;
        width: 100%;
        border-radius: 15px;
      }
      .info {
        opacity: 0;
        position: absolute;
        inset: 0px;
        text-align: left;
        padding: 10px;
        border-radius: 15px;
        transition: 500ms all;
      }
      &:hover {
        .info {
          display: flex;
          flex-flow: row wrap;
          opacity: 1;
          background-color: ($secondaryColor + cc);
        }
      }
    }
  }
}

.resume-section {
  @include container-section;
  .resume-container {
    .company {
      padding: 30px 0;
      display: flex;
      flex-flow: row nowrap;
      .resume-image {
        border-radius: 25px;
      }
      .title {
        margin-top: 0;
      }

      .company-content {
        padding: 0 20px;
        .tasks {
          margin: 15px 0;
          list-style-type: "- ";
          padding: 0 15px;
          li {
            padding: 5px;
          }
        }
      }
    }
  }
}

.about-me-section {
  @include container-section;
  .about-me-container {
    @include flex;
    .image {
      text-align: right;
      img {
        width: 80%;
      }
    }
    .images-hover {
      color: $testColor2;
      font-weight: bold;
      img {
        display: none;
        opacity: 0;
        max-width: 500px;
        height: auto;
        overflow: hidden;
        transition: all 500ms;
        border-radius: 15px;
        border: 1px solid black;
      }
    }
    .images-hover:hover {
      img {
        display: block;
        position: fixed;
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

.toolkit-section {
  @include container-section;

  .technologies-container {
    width: 80%;
    margin: 100px auto;
  }
}

.technologies {
  @include flex($flex-flow: row wrap, $justify-content: center);
  gap: 50px;
  list-style: none;
  padding: 0;
  li {
    display: flex;
    @include flex($flex-flow: column, $align-items: center);
    gap: 20px;
    font-weight: 500;
    img {
      width: 50px;
      max-width: 50px;
      border-radius: 5px;
      path {
        fill: $testColor2;
      }
    }
  }
}

.contact-section {
  background-color: $testColor3;
  padding: 100px 0;

  .contact-container {
    @include container-section;
    .contact-data {
      display: flex;
      margin-bottom: 50px;
      .contact-form {
        width: 100%;
        @include flex($flex-flow: column);
        margin: 0 15px;
        gap: 20px 0;
      }
    }
  }
}

Footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: $primaryColor;
  color: white;
  border: 0;
  display: block;
  padding: 15px;
}
