@mixin animateGradient($animation, $duration, $method, $times) {
  animation: $animation $duration $method $times;
}

@mixin animateFade($animationIn, $animationOut, $duration) {
  animation: $animationIn, $animationOut $duration;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@include keyframes(fadein) {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@include keyframes(fadeout) {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@mixin container-section {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}

@mixin flex(
  $flex-flow: row nowrap,
  $justify-content: flex-start,
  $align-content: normal,
  $align-items: stretch,
  $gap: 20px
) {
  display: flex;
  flex-flow: $flex-flow;
  align-items: $align-items;
  justify-content: $justify-content;
  align-content: $align-content;
  gap: $gap;
}
