@mixin keyframes($gradient) {
  @-webkit-keyframes #{$gradient} {
    @content;
  }
  @keyframes #{$gradient} {
    @content;
  }
}
@mixin animation($str) {
  -webkit-animation: #{$str};
  animation: #{$str};
}

@include keyframes(gradient) {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@mixin container-section {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}

@mixin flex(
  $flex-flow: row nowrap,
  $justify-content: flex-start,
  $align-content: normal,
  $align-items: stretch,
  $gap: 20px
) {
  display: flex;
  flex-flow: $flex-flow;
  align-items: $align-items;
  justify-content: $justify-content;
  align-content: $align-content;
  gap: $gap;
}
