@import "variables";
@import "mixins";

* {
  box-sizing: border-box;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

body {
  text-align: left;
  font-size: 1rem;
  line-height: normal;
  padding: 0px;
  margin: 0px;
  color: $fontColor;
  background-color: $backgroundColor;
}

h1 {
  font-size: 8vw;
  margin: 20px 0;
  @include mediaQuery(L) {
    font-size: 4rem;
  }
}

img.icon {
  filter: $iconColor;
  @include shortTransition;
  &:hover {
    filter: invert(8%) sepia(44%) saturate(3522%) hue-rotate(299deg)
      brightness(99%) contrast(99%);
  }
}

h2 {
  font-size: 2rem;
  margin: 15px 0;
  font-weight: $semiBold;
}

h3 {
  font-size: 1.5rem;
}

p {
  line-height: 20px;
  margin: 1rem 0;
}

a {
  display: block;
}

ul {
  padding-inline-start: 25px;
  margin: 1rem 0;
}

.brand-color {
  color: $mainColor;
  font-weight: bold;
  @include shortTransition;
  &:hover {
    color: $darkAccentColor;
  }
}

input[type="text"],
input[type="email"],
textarea {
  border: none;
  background-color: $backgroundColor;
  padding: 10px;
  border-radius: $borderRadius;
  color: $fontColor;

  &:focus {
    outline: none;
  }
}

textarea {
  resize: none;
}

button,
input[type="submit"],
input[type="button"] {
  border: none;
  border-radius: $borderRadius;
  background-color: $darkAccentColor;
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  text-transform: uppercase;
  @include shortTransition;

  &:hover {
    background-color: $mainColor;
  }
}

input[type="submit"]:disabled {
  cursor: default;
  background-color: rgba($color: $darkAccentColor, $alpha: 0.3);
  color: $fontColor;
}
