@import "variables";

h1 {
  font-size: 4rem;
  margin: 20px 0;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1rem;
}

* {
  box-sizing: border-box;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
}
p {
  line-height: 20px;
}

.green-color {
  color: $primaryColor;
  font-weight: bold;
}

.red-color {
  color: $testColor3;
  font-weight: bold;
}

.orange-color {
  color: $testColor2;
  font-weight: bold;
}

input[type="text"],
textarea {
  border: none;
  background-color: $testColor1;
  padding: 10px;
  border-radius: 5px;

  &:focus {
    outline: inset;
    color: $testColor2 !important;
  }
}

textarea {
  height: 200px;
}

button,
input[type="submit"],
input[type="button"] {
  border: 2px solid $testColor2;
  border-radius: 5px;
  background-color: $testColor2;
  padding: 10px 20px;
  color: white;
  text-transform: uppercase;
  &:hover {
    background-color: $backgroundColor;
    color: $testColor2;
  }
}
