@import "variables";
@import "mixins";

* {
  box-sizing: border-box;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif;
}

body {
  text-align: left;
  font-size: 1rem;
  line-height: normal;
  padding: 0px;
  margin: 0px;
  color: $fontColor;
  background: linear-gradient(-45deg, #fff, $backgroundColor2);
  background-size: 1000%;
  @include animation("gradient 15s ease infinite");
}

h1 {
  font-size: 8vw;
  margin: 20px 0;
}
h2 {
  font-size: 1.5rem;
  margin: 15px 0;
}
h3 {
  font-size: 1rem;
}

p {
  line-height: 20px;
}

.green-color {
  color: $primaryColor;
  font-weight: bold;
}

.red-color {
  color: $letterColor;
  font-weight: bold;
}

.orange-color {
  color: $buttonColor;
  font-weight: bold;
}

input[type="text"],
textarea {
  border: none;
  background-color: $backgroundColor2;
  padding: 10px;
  border-radius: 5px;

  &:focus {
    outline: inset;
    color: $buttonColor !important;
  }
}

textarea {
  height: 200px;
}

button,
input[type="submit"],
input[type="button"] {
  border: 2px solid $buttonColor;
  border-radius: 5px;
  background-color: $buttonColor;
  padding: 10px 20px;
  font-size: 1rem;
  color: white;
  text-transform: uppercase;
  &:hover {
    background-color: $backgroundColor;
    color: $buttonColor;
  }
}
