// /* ----- LIGHT THEME COLORS ----- */

$whiteColor: #ffffff;
$blackColor: #000000;
$backgroundColor: #e7d8dd;
$mainColor: #813a65;
$lightAccentColor: #7b6f86;
$darkAccentColor: #66375f;
$fontColor: #0d0800;
$iconColor: invert(30%) sepia(11%) saturate(3132%) hue-rotate(271deg)
  brightness(86%) contrast(84%);

$colorSpanish: #ba151b;
$colorEnglish: #012169;

/* ----- UNITS ----- */

$borderRadius: 5px;
$boxShadow: 0px 4px 6px 0px
  rgba(
    $color: $fontColor,
    $alpha: 0.2,
  );

/* ----- FONTS ----- */

$medium: 500;
$semiBold: 600;

/* ----- IMAGES ----- */
