$backgroundColor: #ffffff;
$primaryColor: #588b8b;
$secondaryColor: #8fb7b7;
$testColor1: #ffd5c2;
$testColor2: #f28f3b;
$testColor3: #c8553d;
// $fontColor: #564e58;
// $fontColor: #012622;
// $fontColor: #08090a;
$fontColor: #1f1300;
